/* =================================== DEFAULT ==============================================*/
.navbar{
  position: relative;
  z-index: 1;
}


/* text*/
.collapse .nav-link,.collapse .btn {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-right: 20px;
}
/* Button Color*/
.collapse .btn{
  background-color: #19C19D;
  color: white;
}
.collapse .btn:hover{
  background-color:  #E24F3F;
}

/*home image*/
.navbar-brand img{
  height: 65px;
}


/*jumbotron bacgorund*/
.jumbotron{
  background-image: url("/static/img/Jumbotron_back.jpg");
  background-size: cover;
  height: 800px;
  position: relative;
}

.jumbotron .container{
  text-align: center;
  margin-top: 250px;
  font-size: 30px;
  color: white;
  position: relative;
  z-index: 1;
}

.content{
  background: rosybrown;
}


.jumbotron::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0,0.5);
  position: absolute;
  bottom: 0;

}

.container-heading{
  margin: auto;
  width: 60%;
  text-align: center;
}

.container-heading .heading,.container-heading p {
  padding: 1rem;
  color: black;
  
}

/*SERVICES*/
.services{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white ;
  margin-top: -30px;
}

.container-heading .heading{
  font-weight: bold;
}
.container-heading .heading::after{
  content: "";
  display: block;
  border-bottom : 3px solid  #19C19D;
  width: 50px;
  margin: auto;
  padding-bottom: 5px;
  margin-top: 25px;
}

.services .container-box{
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin:25px auto;
  background-color: white;
}

.container-box .overlay{
  width: 33%;
  height: 300px;
  color: white;
  margin: 1.25px;
  position: relative;
  overflow: hidden;

}

.overlay .main-content{
  width: 100%;
  height: 100%;
}
.overlay .main-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay .overlay-content{
  width: 100%;
  height: 100%;
  background: rgb(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  position: absolute;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
  top: 65%;
  left: 0;
}

.overlay-content h2, .overlay-content p{
  text-align: center;
}

.overlay-content h2{
  margin-bottom: 30px;
}

.overlay:hover .overlay-content{
  top: 0;
}
/*End Services*/


/*PRODUCT*/
.container-heading h1{
    margin-bottom: 100px;
    margin-top: 50px;
    text-align: center;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product1, .product3
{
  flex-direction: row-reverse;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .row .image img{
  max-height: 350px;
  border-radius: 15px;

  
}



/*END PRODUCT*/


/*UTILITY*/
.btn{
    text-transform: uppercase;
    border-radius: 40px; 
}


.mybtn{
  border-radius: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-color: white;
  padding: 5px 32px;
}

.mybtn:hover{
  color:  #19C19D;
  border-color:  #19C19D;
}

/*=======================================END DEFAULT======================================*/


/*=====================================DESKTOP VESION=====================================*/
@media (min-width: 768px) {

  /*NAVBAR*/
  .nav-brand, .nav-link{
    color: aliceblue !important;
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
  }

  .navbar .container{
    margin-left: 50;
    margin-right: 50;
  }
    /* border button navbar menu*/
    .collapse .nav-link:hover::after{
      content: "";
      display: block;
      border-bottom : 3px solid  #19C19D;
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
  }

  .collapse .nav-link:active{
    content: "";
    display: block;
    border-bottom : 3px solid  #19C19D;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  /*END NAVBAR*/
  
  /*JUBMBOTRON*/
  .jumbotron .container{
    color: aliceblue;
    text-align: left;
    margin-top: 250px;
    margin-left: 80;
    width: 800;
  }
  
  .jumbotron .container .display-4{
    font-size: 40px;
    font-weight: bolder;
  }
  .jumbotron{
    margin-top: -100px;
  }
  /*END JUMBOTRON*/

  /*PRODUCT*/
  .product1 .text, .product3 .text{
    margin-left: 100px;
  }

  .product2 .text{
    margin-right: 100px;
  }
  /*END PRODUCT*/

}
/*================================ END DESKTOP VERSION=======================================*/

/*=========================================SMARTPHONE MODE===================================*/
@media (max-width: 767px) {

  /*NAVBAR*/
  .collapse .nav-link{
      border-top: 1px solid#D0E0EE ;
  }

  
  .navbar-toggler{
      display: flex;
      margin-bottom: 50px;
      
  }
  .collapse .btn{
    margin-top: 10px;
  }


  /*JUBMBOTRON*/

  .jumbotron .display-4{
    font-size: 30px;
  }

  .jumbotron .lead{
    font-size: 15px;
  }

  /*SERVICES*/
  .container-box .overlay{
    width: 90%;
  }


  /*PRODUCT*/
  .Product .text{
    text-align: center;

  }

  .row .text{
    margin-bottom: 50px;
    margin-top: 50px;
    
  }

  .row .image{
    margin-left: 15px;
    margin-right: 15px;
  }

}

/*====================================END SMARTPHONE MODE===================================*/