{% load static %}

<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/img/byCode_home.png" alt="byCode.id">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" id="AboutNav" href="#">ABOUT US</a>
        <a class="nav-item nav-link" href="#">SERVICES</a>
        <a class="nav-item nav-link" href="#">PRODUCT</a>
        <a class="nav-item nav-link " href="#">PORTOFOLIO</a>
        <a class="nav-item nav-link " href="#">BLOG</a>
        <a class="nav-item btn btn " id="btnNav" href="#">Contact Us</a>
      </div>
    </div>
  </div>
</nav>


